{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/JSON.js"></script>
<script type="text/javascript" src="/static/webtest/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/webtest/js/transactAPI.js"></script>
<script type="text/javascript">

function login_callback(status, response){
        if(status=="OK"){
            TransactAPI.add_token(response['token'], response['expires']); // adds token to every future request stores token in cookie
            transact();
        }else{
            var box_content = "<p>Sorry, authentication was not possible at this moment. Try refreshing the page.";
            showModal(box_content);
        }
    }

function login(){
    /* uses login to authenticate the user */
    TransactAPI.login("test", "silicon", login_callback);
}

function transact(){
    var data = {
        "quantity": 0.2
    };
    TransactAPI.call("TRANSACT",data, fillCarbon);
}

function fillCarbon(status, response){
    if(status=="OK"){
        total_carbon = response["total"];
        jQuery.cookie("TA_TRANS_ID", response["transID"]);
        jQuery("#carbon").append(total_carbon.toFixed(2));
    }else{
        var box_content = "<p>Your transaction could not be initiated</p>";
        showModal(box_content);
    }
}

function pay_response(status, response){
        if(status=="OK"){
            var box_content = "<p>Successfully paid</p>";
            showModal(box_content);

        }else{
            var box_content = "<p>Sorry Your payment can't be processed at the moment</p>";
            showModal(box_content);
        }
    }

function pay(){
    var data = {
        "transID": jQuery.cookie("TA_TRANS_ID")
    };
    TransactAPI.call("PAY", data, pay_response);
}

function cancel_response(status, response){
        if(status=="OK"){
            var box_content = "<p>Your transaction was cancelled</p>";
            showModal(box_content);
        }else{
            var box_content = "<p>Your transaction could not be cancelled, it will expire automatically.</p>";
            showModal(box_content);
        }
    }

function cancel(){
    var data = {
        "transID": jQuery.cookie("TA_TRANS_ID")
    };
    TransactAPI.call("TRANSACTCANCEL", data, cancel_response);
}

function showModal(content){
    var info_box = jQuery('<div/>', {'class': "dialog", 'html': content});
    jQuery(info_box).dialog({modal:true,
        resizable: false,
        buttons: {
            "Ok": function() {jQuery( this ).dialog( "close" )}
            }
        });
}

jQuery(document).ready(function(){
    var total_carbon;
    // only needed for development - ignore this for production
    if ( ! window.location.origin) window.location.origin = window.location.protocol+"//"+window.location.host;
    TransactAPI.gate = window.location.origin + "/api/"
    // only needed for development - ignore this for production

    login();
    jQuery("#approvePay").click(pay);
    jQuery("#cancelPay").click(cancel);
});

</script>
{% endblock %}

{% block main %}
<div id="taxAndFeeInclusiveDivBody1" class="drilldown" style="background-color: white;">
<div id="PriceItineraryBox">
<p class="hdr">Going Out</p>

<p id="PriceItinerary_FareClass_1">Regular Fare</p>

<p id="PriceItinerary_DepartureInfo_1"><strong>Depart:</strong><br>
<span id="PriceItinerary_DepartureStationName__1">Cork -</span> <span id="PriceItinerary_DepartureTime__1">07:05</span></p>

<p id="PriceItinerary_ArrivalInfo_1"><strong>Arrive:</strong><br>
<span id="PriceItinerary_ArrivalStationName__1">London-Stansted -</span> <span id="PriceItinerary_ArrivalTime__1">08:20</span></p>

<div id="PriceItinerary_BreakdownContainer__1">
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>1</td>

<td>x</td>

<td>Adult</td>

<td class="rght nowrap">64.99</td>

<td>EUR</td>
</tr>

<tr>
<td colspan="5"><br></td>
</tr>

<tr class="bld">
<td colspan="3">Fare</td>

<td class="rght nowrap">64.99</td>

<td>EUR</td>
</tr>

<tr class="bld">
<td colspan="3"><a href="#">Taxes and Fees</a></td>

<td id="TaxesAndFeesSubTotalCell" class="rght nowrap">30.73</td>

<td>EUR</td>
</tr>

<tr style="display: none;">
<td colspan="5">
<table cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td>»&nbsp;Taxes and Fees</td>

<td class="rght nowrap" style="text-align:right;">24.24</td>

<td>EUR</td>
</tr>

<tr>
<td>»&nbsp;Aviation Insurance/PRM Levy</td>

<td class="rght nowrap" style="text-align:right;">6.49</td>

<td>EUR</td>
</tr>
</tbody>
</table>
</td>
</tr>

<tr class="bld">
<td colspan="3">Online Check-In</td>

<td class="rght nowrap">6.00</td>

<td>EUR</td>
</tr>

<tr class="bld">
<td colspan="3">EU 261 Levy</td>

<td class="rght nowrap">2.00</td>

<td>EUR</td>
</tr>

<tr class="bld">
<td colspan="3">Carbon</td>

<td id="carbon" class="rght nowrap"></td>

<td>EUR</td>
</tr>

<tr class="bld">
<td colspan="3">Sub Total</td>

<td class="rght nowrap">103.72</td>

<td>EUR</td>
</tr>

<tr class="bld">
<td colspan="3">Total Price</td>

<td class="rght nowrap">103.72</td>

<td>EUR</td>
</tr>
</tbody>
</table>

</div>
</div>
</div>
<p style="margin-top:10px;">
<span id="cancelPay" class="button">Cancel</span><span id="approvePay" class="button">Pay</span>
</p>
{% endblock %}