{% extends "base.html" %}

{% block extra_head %}
    <!--
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    -->
    <script type="text/javascript" src="/static/js/crsf.js"></script>
    <script type="text/javascript" src="/static/js/JSON.js"></script>
    <script type="text/javascript" src="/static/webtest/js/jquery.cookie.min.js"></script>    
    <script type="text/javascript" src="/static/webtest/js/transactAPI.js"></script>
    <script type="text/javascript">
        /* Serializes a form to array with {"field_name": "field_value"} */
        jQuery.fn.serializeForm = function(){a={};b=this.serializeArray();jQuery.each(b,function(d,c){a[c['name']]=c['value']});return a;}

        function sendFormCall(form){
            var data = form.serializeForm();
            var callname = data['call'];
            delete data['call'];
            TransactAPI.call(callname, data, alertBox);
        }

        function alertBox(status, data){
            var box_content = "";
            for (var key in data["currencies"]) {
                var val = data["currencies"][key]["total"];
                box_content += "total in "+key+": "+val+"<br/>";
            }
            var info_box = jQuery('<div/>', {'class': "dialog", 'html': box_content});
            jQuery(info_box).dialog({modal:true,
                                     resizable: false,
                                     buttons: {
				                        "Ok": function() {
					                            $( this ).dialog( "close" );
				                                }
                                     }
                                  });
        };

        jQuery(document).ready(function() {
            // only needed for development - ignore this for production
            if ( ! window.location.origin) window.location.origin = window.location.protocol+"//"+window.location.host;
            TransactAPI.gate = window.location.origin + "/api/"
            // only needed for development - ignore this for production
            TransactAPI.login('test','silicon');
            jQuery('#call_api').click(function(){
                sendFormCall(jQuery("#call_form"));
                return false;
            });

            
        });
    </script>

{% endblock %}
{% block main %}
<h1>Web test of TransAct api ::PRICECHECK</h1>
<form id="call_form" target="." >
    {{ form.as_p }}
    <p class="align-right"><input id="call_api" type="button" class="button" value="Send">
</form>

{% endblock main %}
