{% extends "base.html" %}

{% block extra_head %}
    <!--
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    -->
    <script type="text/javascript" src="/static/js/crsf.js"></script>
    <script type="text/javascript" src="/static/js/JSON.js"></script>
    <script type="text/javascript" src="/static/webtest/js/jquery.cookie.min.js"></script>    
    <script type="text/javascript" src="/static/webtest/js/transactAPI.js"></script>
    <script type="text/javascript">
        /* Serializes a form to array with {"field_name": "field_value"} */
        jQuery.fn.serializeForm = function(){a={};b=this.serializeArray();jQuery.each(b,function(d,c){a[c['name']]=c['value']});return a;}

        function sendFormCall(form){
            // Serialize a form to array with {"field_name": "field_value"}
            var data = form.serializeForm();
            // our form has 'call' field so we need extract it
            var callname = data['call'];
            delete data['call'];
            //make api call and call function on callback
            TransactAPI.call(callname, data, function(status, data){
                var box_content = "";
                if (status == "OK") {
                    for (var key in data["currencies"]) {
                        var val = data["currencies"][key]["total"];
                        box_content += "total in "+key+": "+val+"<br/>";
                    }
                } else {
                    box_content = "Failed to make check";
                }
                alertBox(box_content);

            });
        }
        function fill_quality(){
            TransactAPI.call("LISTQUALITIES",{'blank':'any'},function(status,data){
                if (status=="OK"){
                    for (var key in data['types']) {
                        var quality = data['types'][key];
                        var option = '<option value="' + quality['code'] +'"';
                        if (quality['code'] == "") option += ' selected = true';
                        option += '>' +quality['name'] +'</option>';
                        jQuery('#id_quality').append(option);
                    }
                } else {
                    //failure show any option
                        var option = '<option value="" selected = true>any</option>';
                        jQuery('#id_quality').append(option);
                }


            });
        }
        function fill_type(){
            TransactAPI.call("LISTTYPES",{'blank':'any'},function(status,data){
                if (status=="OK"){
                    for (var key in data['types']) {
                        var type = data['types'][key];
                        var option = '<option value="' + type['code'] +'"';
                        if (type['code'] == "") option += ' selected = true';
                        option += '>' +type['name'] +'</option>';
                        jQuery('#id_type').append(option);
                    }
                } else {
                    //failure show any option
                        var option = '<option value="" selected = true>any</option>';
                        jQuery('#id_type').append(option);
                }


            });

        }
        function alertBox(box_content){
            var info_box = jQuery('<div/>', {'class': "dialog", 'html': box_content});
            jQuery(info_box).dialog({modal:true,
                                     resizable: false,
                                     buttons: {
				                        "Ok": function() {
					                            $( this ).dialog( "close" );
				                                }
                                     }
                                  });
        }

        jQuery(document).ready(function() {
            // only needed for development - ignore this for production
            if ( ! window.location.origin) window.location.origin = window.location.protocol+"//"+window.location.host;
            TransactAPI.gate = window.location.origin + "/api/"
            // only needed for development - ignore this for production
            // we need login to get valid token
            // this next call will attach token to every next call and also store token in cookie
            TransactAPI.login('test','silicon');
            // fill quality and type selections
            fill_quality();
            fill_type();
            // stick click event
            jQuery('#call_api').click(function(){
                sendFormCall(jQuery("#call_form"));
                return false;
            });

            
        });
    </script>

{% endblock %}
{% block main %}
<h1>Web test of TransAct api ::PRICECHECK</h1>
<form id="call_form" target="." >
    {{ form.as_p }}
    <p class="align-right"><input id="call_api" type="button" class="button" value="Send">
</form>

{% endblock main %}
