{% extends "base.html" %}

{% block extra_head %}
    <!--
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
    -->
    <script type="text/javascript" src="/static/js/crsf.js"></script>
    <script type="text/javascript" src="/static/js/JSON.js"></script>
    <script type="text/javascript" src="/static/webtest/js/jquery.cookie.min.js"></script>    
    <script type="text/javascript" src="/static/webtest/js/main.js"></script>
    <script type="text/javascript">

        function login(){
            /* uses login to authenticate the user */
            var data = {
                "call": "LOGIN",
                "username": "test",
                "password": "silicon"
            }
            send_call(JSON.stringify(data), function(response){
                if(response["status"]=="OK"){
                    jQuery("#id_token").val(response['token']);
                }else{
                    var box_content = "<p>Sorry, authentication was not possible at this moment. Try refreshing the page.</p>";
                    showModal(box_content);
                }
            });
        }
        function alertBox(data){
            var box_content = "";
            for (var key in data["currencies"]) {
                var val = data["currencies"][key]["total"];
                box_content += "total in "+key+": "+val+"<br/>";
            }
            var info_box = jQuery('<div/>', {'class': "dialog", 'html': box_content});
            jQuery(info_box).dialog({modal:true,
                                     resizable: false,
                                     buttons: {
				                        "Ok": function() {
					                            $( this ).dialog( "close" );
				                                }
                                     }
                                  });
            display_call(data);
        };

        jQuery(document).ready(function() {
            login();
            jQuery('#call_api').click(function(){
                sendFormCall(jQuery("#call_form"));
                return false;
            });

            
        });
    </script>

{% endblock %}
{% block main %}
<h1>Web test of TransAct api ::PRICECHECK</h1>
<form id="call_form" target="." >
    {{ form.as_p }}
    <p class="align-right"><input id="call_api" type="button" class="button" value="Send">
</form>
<h4>Call response below:</h4>
<div id="call_response"></div>

{% endblock main %}
