{% extends "base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/crsf.js"></script>
    <script type="text/javascript" src="/static/js/JSON.js"></script>
    <script type="text/javascript" src="/static/webtest/js/main.js"></script>
    <script type="text/javascript">

    jQuery(document).ready(function() {

        jQuery('#call_api').click(function(){
            send_call(jQuery('#call_content').val(), display_call);
            return false;
        });
    });
    </script>

{% endblock %}
{% block main %}
<h1>Web test of TransAct api</h1>
<form id="call_form" target="." >
    <label class="full-length">Paste your JSON into content area</label><textarea id="call_content"></textarea><br/>
    <p class="align-right"><input id="call_api" type="button" class="button" value="Send"></p>
</form>
<h4>Call response below:</h4>
<div id="call_response"></div>

{% endblock main %}
