{% extends "base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/static/js/crsf.js"></script>
    <script type="text/javascript" src="/static/js/JSON.js"></script>
    <script type="text/javascript" src="/static/webtest/js/main.js"></script>
    <script type="text/javascript" src="/static/webtest/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/static/webtest/js/transactAPI.js"></script>
    <link href="/static/webtest/css/docs.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript">

    jQuery(document).ready(function() {

        jQuery('#call_api').click(function(){
            send_call(jQuery('#call_content').val(), display_call);
            return false;
        });
        
        
        
        function login(){
            /* uses login to authenticate the user */
            var data = {
                "call": "LOGIN",
                "username": "test",
                "password": "silicon"
            }
            send_call(data, function(response){
                if(response["status"]=="OK"){
                
                    jQuery(response["token"]).replaceAll(".token");
                }else{
                    var box_content = "<p>Sorry, authentication was not possible at this moment. Try refreshing the page.";
                    showModal(box_content);
                }
            });
        
        }        
    });

    </script>

{% endblock %}
{% block main %}


<h1>{% block heading %}Web test of TransAct api{% endblock heading %}</h1>
{% block flowchart %}
<h4>Flow:</h4>
<ul id="flow">
{% block flow %}{% endblock %}
</ul>
<br style="clear:both"/>
{% endblock flowchart %}
{% block doc %}{% endblock doc %}
<hr />
{% block testapi %}
<form id="call_form" target="." >
    <label class="fullwidth">Paste your JSON into content area</label><textarea id="call_content">{% block examplejson %}{% endblock examplejson %}</textarea><br/>
    <p class="align-right"><input id="call_api" type="button" class="button" value="Send"></p>
</form>
<h4>Call response below:</h4>
<div id="call_response"></div>
{% endblock testapi %}
{% endblock main %}

{% block sidebar %}
<div id="sidebar">
    <ul class="options">
        <li><a href="/docs/API.html">Overview</a></li>
        <li><a href="/docs/PING.html">PING</a></li>
        <li><a href="/docs/LOGIN.html">LOGIN</a></li>
        <li><a href="/docs/LISTPRODUCTS.html">LISTTYPES</a></li>
        <li><a href="/docs/LISTQUALITIES.html">LISTQUALITIES</a></li>
        <li><a href="/docs/BALANCE.html">BALANCE</a></li>
        <li><a href="/docs/RECHARGE.html">RECHARGE</a></li>
        <li><a href="/docs/PRICECHECK.html">PRICECHECK</a></li>
        <li><a href="/docs/QTYCHECK.html">QTYCHECK</a></li>
        <li><a href="/docs/TRANSACT.html">TRANSACT</a></li>
        <li><a href="/docs/PAY.html">PAY</a></li>
        <li><a href="/docs/TRANSACTCANCEL.html">TRANSACTCANCEL</a></li>
        <li><a href="/docs/TRANSACTINFO.html">TRANSACTINFO</a></li>
        <li><a href="/docs/Errors.html">Error Codes</a></li>
    </ul>
</div>
{% endblock %}
