{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/JSON.js"></script>
<script type="text/javascript" src="/static/webtest/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/static/webtest/js/transactAPI.js"></script>
    <link href="/static/webtest/css/fun.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">

function login(){
    /* uses login to authenticate the user */
    TransactAPI.login("test","silicon", function(status, response){
        if(status=="OK"){

            TransactAPI.add_token( response["token"], response['expires']); //modified version of jQuery.cookie to accept seconds
        }else{
            var box_content = "Sorry, authentication was not possible at this moment. Try refreshing the page.";
            alert(box_content);
        }
    });

}

function validate(obj){
    var value = jQuery("#transAmount", obj).val();
    if(!jQuery(".error", obj).hasClass("hidden")){jQuery(".error", obj).addClass("hidden")}
    if (!value){
        jQuery(".error", obj).empty().append("We need a value here").removeClass('hidden');
        return false;
    }
    return true;
}


function pay(transID, obj){
    var data = {
        "transID": transID
    };
    TransactAPI.call("PAY",data, function (status, response){
        if(status=="OK"){
            jQuery("#box_content").empty().append("<p>Transaction successful</p>");
            // add to total Goldz displayed quantity bought
            var total = parseFloat(jQuery("#goldzAmount").text()) + response['quantity'];
            jQuery("#goldzAmount").empty().append(total);
        }else{
            jQuery("#box_content").empty().prepend("Sorry your transaction couldn't be finished");
        }
        jQuery(".ui-dialog-buttonset").append("<button id='TA_close' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Close</button>");
        jQuery("#TA_close").click(function(){jQuery(obj).dialog("close");jQuery(obj).remove()});
    });
}

function transact_n_pay(obj){
    if(!validate(obj)){return false};
    jQuery(".ui-dialog-buttonset").empty();
    var data = {
        "value": jQuery("#transAmount", obj).val()
    };
    TransactAPI.call("TRANSACT",data, function(status, response){
        if(status=="OK"){
            //transaction successful make payment
            pay(response["transID"], obj);
        }else{
            jQuery("#box_content").empty().prepend("Sorry your transaction couldn't be initiated.");
            jQuery(".ui-dialog-buttonset").append("<button id='TA_close' class='ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only'>Close</button>")
            jQuery("#TA_close").click(function(){jQuery(obj).dialog("close");jQuery(obj).remove()});

        }
    });
}

function showModal(){
    var content = "<div id='box_content' style='text-align:center;'><div id='generalError'></div><p>How much do you want to spend</p>&nbsp;&euro;&nbsp;<input type='text' name='amount' id='transAmount'/><div class='error hidden'></div></div>"
    var info_box = jQuery('<div/>', {'class': "dialog", 'html': content});
    jQuery(info_box).dialog({modal:true,
        resizable: false,
        buttons: {
            "Cancel": function() {jQuery(this).dialog( "close" );jQuery(this).remove()},
            "Ok": function() {
                    //make transaction and payment pass reference to this modal window to pass along
                    transact_n_pay(this);
                }
            }
        });
}

jQuery(document).ready(function(){
    var total_carbon;
    {% if debug_setting %}
           // only needed for development - ignore this for production
           if ( ! window.location.origin) window.location.origin = window.location.protocol+"//"+window.location.host;
           TransactAPI.gate = window.location.origin + "/api/"
           // only needed for development - ignore this for production
    {% endif %}

    login();
    // our modalDialogBox will contain button to start transaction
    // after successful transaction it will automatically make pay call and display bought value
    jQuery("#buyButton").click(showModal);

});

</script>
{% endblock %}

{% block main %}
<div id="gameWindowz">
<span id="buyButton">Buy meh gold!</span>
<div id="showGoldz">Goldz: <span id="goldzAmount">0</span></div>
</div>
{% endblock %}