{% extends "base.html" %}
{% block main %}
				<h2 class="title"><a href="#">Buy by Weight</a></h2>
				<p>In this example, the purchase of a flight ticket requires a carbon offset that depends on the details of the flight. </p>

                <p>Generate a random requirement to purchase carbon between 0.25 and 12 tonnes and call the API to get the price of purchasing this much carbon.  Click a buy button to complete the transaction.</p>
                
                <p>For calculator see: <a href="http://www.carbonneutralcalculator.com/flightcalculator.aspx">Here...</a></p>

{% endblock main %}

