{% extends "base.html" %}
{% block main %}
				<h2 class="title"><a href="#">TransAct API Developers</a></h2>
				<p>Some pages to help developers get started with the TransAct API.  Also checkout the Example pages.</p>

    <ul>
        <li><a href="/webtest/">API Caller</a></li>
        <ul>
             <li><a href="/docs/PING.html">Ping</a></li>
             <li><a href="/docs/LISTTYPES.html">LISTTYPES - List of Product Types</a></li>
        </ul>    

        <li><a href="/examples.html">Examples</a></li>

    </ul>  

{% endblock main %}

