{% extends "base.html" %}
{% block main %}
				<h2 class="title"><a href="#">Examples</a></h2>
				<p>Examples of how to use TransAct Carbon API</p>

    <ul>
        <li><a href="/webtest/PRICECHECK/">PriceCheck demo</a></li>
        <li><a href="/webtest/flight_demo">Purchase Flight (buy by weight)</a></li>
        <li><a href="/buybyvalue.html">Purchase in Game Voucher (buy by value)</a></li>
        <li><a href="/clientportal.html">Client Portal</a></li>
        <li><a href="/transact/">Basic Transaction demo - TEST ONLY</a></li>
    
    </ul>


{% endblock main %}

