{% extends "base.html" %}
{% block main %}
				<h2 class="title"><a href="#">Examples</a></h2>
				<p>Compellingly provide access to bleeding-edge "outside the box" thinking rather than multifunctional infomediaries. Continually procrastinate timely initiatives whereas synergistic deliverables. </p>

    <ul>
        <li><a href="/webtest/">API Caller</a></li>
        <li><a href="/webtest/PRICECHECK/">PriceCheck demo</a></li>
        <li><a href="/buybyweight.html">Purchase Flight (buy by weight)</a></li>
        <li><a href="/buybyvalue.html">Purchase in Game Voucher (buy by value)</a></li>
        <li><a href="/clientportal.html">Client Portal</a></li>
    
    </ul>


{% endblock main %}

