{% extends "base.html" %}
{% block main %}

<h1><a href="/">TransAct Carbon Engine. </a></h1>
<p>Buy Carbon how you want, when you want.</p>		

<h2 >A Para about Transact API</h2>
<p>Compellingly provide access to bleeding-edge "outside the box" thinking rather than multifunctional infomediaries. Continually procrastinate timely initiatives whereas synergistic deliverables. Assertively pontificate viral web-readiness whereas alternative portals. 

Uniquely productivate global human capital before fully tested meta-services. Seamlessly benchmark revolutionary paradigms through standards compliant niches. Dramatically embrace ethical metrics via interdependent systems. </p>



{% endblock main %}

