{% extends "base.html" %}
{% block main %}
				<h2 class="title"><a href="#">A Para about Transact API</a></h2>
				<p>Compellingly provide access to bleeding-edge "outside the box" thinking rather than multifunctional infomediaries. Continually procrastinate timely initiatives whereas synergistic deliverables. Assertively pontificate viral web-readiness whereas alternative portals. 

Uniquely productivate global human capital before fully tested meta-services. Seamlessly benchmark revolutionary paradigms through standards compliant niches. Dramatically embrace ethical metrics via interdependent systems. </p>

    <ul>
        <li><a href="/examples.html">Try the Examples</a></li>
        <li><a href="/docs.html">Read the Documentation</a></li>
        <li><a href="/contact.html">Contact TransAct</a></li>
    
    </ul>


{% endblock main %}

