{% extends "base.html" %}
{% block main %}

<h1><a href="/">TransAct Carbon - Developer Resource Centre </a></h1>

<h2 >Build sales into your App</h2>
<p>Transact Carbon provides a RESTful API to allow you to build purchase of carbon credits right into your own application or website.  In order to get started you will need to send a request for an account to newaccount@transactcarbon.com.  Once your account is setup we will provide you with a username and password to use in the API.  </p>

<p>See a full list of API calls <a href="/docs.html">here.</a></p>

<p>See some examples <a href="/examples.html">here.</a></p>

<p>Before you go live you will need to put some money into your account so that your customers can purchase carbon credits without the need to complete an additional paypal transaction.  As we sell micro-credits for as little as $1, the additional paypal charge would be too high.  We ask that you keep a balance, depending on your level of transactions, of at least $10.  You can close your account and be refunded the balance in your account, less the paypal transaction fee, at any time.</p>

{% endblock main %}

